/* item */

.items{
    width:30px;
    height:30px;
}
#i1{
    background-color: orange;
}
#i2{
    background-color: blue;
}
#i3{
    background-color: crimson;
}
#i4{
    background-color: azure;
}
.container{
    width:90vw;
    height:100vh;
    background-color: darkcyan;
    margin: auto;
    display: flex;
    flex-direction: column;
}